/* This file contains all the constants for colors and font styles */

$body-font: "Lato", sans-serif;
$title-font: "Palatino Linotype", "Palatino", serif;
$code-font: Consolas, "Liberation Mono", Menlo, Courier, monospace;
$url-font: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
$text-color: #2f2f2f;
$bg-color: #ffffff;
$contrast-color: #a00000;
$border-color: #333333;
$link-style: underline; // choices are 'color' or 'underline'. Color option styles links with $contrast-color set above



